@media (max-width: 740px) {
nav a {
    margin-left: 0;
    font-size: 15px;
    }
}

@media (max-width: 440px) {
section {
    padding: 20px;
    }
}

@media (max-width: 740px) {
#my-skills {
    font-size: 15px;
    padding: 0px;
    margin: 20px 0;
    }
}

@media (max-width: 740px) {
.social-links {
    padding: 100px 20px;
    }
}