* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	cursor: default;
}

body {
	background-color: #efece6;
	font-size: 20px;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 300;
	margin: 0;
}

.header {
	display: none;
}

.header a:hover {
	color: cornflowerblue;
}

nav {
	background-color: #efece6;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 12px;
	font-size: 30px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	border-bottom: #000 solid 0.5px;
}

nav a {
	color: #000;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

nav a:hover {
	color: #000000;
}

nav img {
	margin: 0 10px;
}

@media (min-width: 1000px) {
	.header {
		display: block;
	}
}
