#about {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	height: 88vh;
	margin: auto;
}

#about h1 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 0;
	position: relative;
	width: 16ch;
	font-weight: bold;
	animation: type 3s steps(16), blink 0.5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
}
/* typing effect */
@keyframes type {
	0% {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}

#about p {
	font-size: 2vw;
	margin: 0;
	margin-bottom: 20px;
}

section {
	text-align: center;
	overflow: hidden;
}

section p {
	margin: 0;
}

.intro {
	text-align: left;
}

.intro span {
	background-color: #efe7fa;
}

#about {
	width: 100%;
	margin-top: 100px;
	padding: 50px;
	display: flex;
	flex-direction: row-reverse;
}

#about > div {
	width: 50%;
	display: block;
}

#about img {
	width: 100%;
	max-width: 500px;
	margin-top: 300px;
	background: linear-gradient(rgba(212, 179, 240, 0.5), #f2f7fc);
	border-radius: 30% 80% 50% 60% / 60% 60% 40% 40%;
	border: 2px dashed rgb(164, 171, 225);
	animation-duration: 25s;
	/* animation-iteration-count: infinite; */
	transform-origin: bottom;
}

#about img {
	animation-name: bounce;
	animation-timing-function: ease;
}
@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(0);
	}
}

#good-design,
#laws-simplicity {
	color: rgb(211, 132, 227);
}
