@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    margin: 0;
}

nav {
    background-color: #FFFDFA;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav a {
    color: #000;
    margin-left: 30px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

nav a:hover {
    border-bottom: 7px dashed cornflowerblue;
}

nav img {
    margin: 0 10px;
}

#about {
    background-color: #f8f6f0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    margin: auto;
}

#about h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

#about p {
    font-size: 2vw;
    margin: 0;
}

section {
    padding: 200px 20px 0;
    text-align: center;
}

section p {
    margin: 0;
}

.intro {
    background-color: #f8f6f0;
    text-align: left;
}

.intro span {
    background-color: #efe7fa;
}

.profile {
    background-color: #f8f6f0;
    max-width: 100%;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    flex-direction: row-reverse;
}

.profile > div {
    width: 50%;
    display: block;
}

.profile about {
    margin-bottom: 100px;
}

.profile img {
    max-width: 100%;
    margin-top: 300px;
}
