@media (max-width: 740px) {
    nav a {
    margin-left: 0;
    font-size: 15px;
    }

    #my-skills {
    font-size: 15px;
    padding: 0px;
    margin: 20px 0;
    }

    .social-links {
    margin: auto;
    flex-direction: column;
    }

    #skills {
    height: fit-content;
    }

    button {
        height: 48px;
        width:  48px;
    }

    #myBtn {
        font-size: 7px;
    }

    #looping-squares, #news-bits, #rps, #timer, #drum-kit, #card-game {
        width: auto;
    }
}

@media (max-width: 440px) {
section {
    padding: 20px;
    }
}