#skills {
    background-color: #ecf3fe;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    padding: 200px 0 40px;
}

#tech {
    padding: 0 200px;
    columns: 3 300px 3;
}

#tech b {
    background-color: #f9e5f3;
    display: block;
    width: fit-content;
    margin: auto;
}

.tech-stack h5 {
    background-color: rgb(221, 253, 241);
    display: inline;
}

#tools {
    padding: 0 200px;
    columns: 2 200px 2;
}

#tools b {
    background-color: #f9e5f3;
}